.body-locator {
  padding-bottom: 50px;
}

.nav > li > a:focus, .nav > li > a:hover {
  background-color: transparent;
}

.storelocator-panel {
  border: 1px solid #ccc;
  overflow: hidden;
}

.storelocator-panel .store-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: auto;
  height: 88%;
  height: calc(100% - 62px);
}

.storelocator-panel .store-list::-webkit-scrollbar {
  width: 10px;
}

.storelocator-panel .store-list::-webkit-scrollbar-track {
  background-color: #d2d2d2;
}

.storelocator-panel .store-list::-webkit-scrollbar-thumb {
  background-color: #D5373B;
}

.storelocator-panel .store-list li {
  padding: 15px;
  border-bottom: 1px solid #cccccc;
}

.storelocator-panel .store-list li.store:hover {
  cursor: pointer;
  background: #eee;
}

.storelocator-panel .store-list li.highlighted {
  background: #D5373B;
  color: #fff;
}

.storelocator-panel .store-list li.highlighted .store > div:before {
  color: #fff;
}

.storelocator-panel .store-list li.highlighted:hover {
  background: #D5373B;
}

.storelocator-panel .store-list .no-stores {
  color: grey;
}

.storelocator-panel .store-list .store .features {
  display: none;
}

.storelocator-panel .directions-panel {
  padding: 5px;
  font-size: 0.8em;
}

.storelocator-panel .directions {
  display: none;
}

.storelocator-panel .location-search {
  padding: 10px;
  background: #E8E8E8;
  border-bottom: 1px solid #ccc;
}

.storelocator-panel .location-search input {
  width: 95%;
  border: none;
  padding: 2px 5px;
}

.storelocator-panel .location-search h4 {
  font-size: 11px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  margin-bottom: 5px;
  color: #AFAFAF;
  font-weight: 400;
}

.storelocator-panel .feature-filter {
  overflow: hidden;
}

.storelocator-panel .feature-filter label {
  display: block;
  font-size: 0.8em;
  margin: 0 0.4em;
  float: left;
}

.store .title {
  font-weight: 700;
  border-bottom: 1px solid #d2d2d2;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.store .address,
.store .phone,
.store .web,
.store .misc {
  font-size: 80%;
  margin-top: 0.2em;
  margin-bottom: 0.5em;
  display: block;
}

.store .address,
.store .phone {
  padding-left: 22px;
}

.store .address:before,
.store .phone:before {
  font-family: 'fontAwesome';
  content: '\f041';
  float: left;
  margin-left: -20px;
  font-size: 15px;
  color: #AFAFAF;
}

.store .phone:before {
  content: '\f095';
}

.store .web a {
  color: green;
}

.store .features {
  overflow: hidden;
  color: grey;
  margin: 0;
  padding: 0;
  font-size: 70%;
  max-width: 250px;
}

.store .features li {
  display: inline;
  float: left;
  padding-right: 0.8em;
}

.store .action {
  font-size: 0.8em;
  color: #D5373B;
  border-left: 1px solid #d2d2d2;
  padding: 0 3px;
}

.store .action:first-of-type {
  border-left: none;
  padding-left: 0;
}

#map-canvas {
  height: 500px;
}

#panel {
  width: 100%;
}

#panel .feature-filter label {
  width: 130px;
}

@media screen and (min-width: 992px) {
  .col-map {
    float: right;
  }
  #panel {
    height: 500px;
  }
}

@media screen and (max-width: 992px) {
  #panel {
    margin: 20px 0;
  }
}

@media screen and (max-width: 480px) {
  .col-map {
    padding: 0;
  }
}
