/** IE6 is a hunk of crap!!! due to limitations in the CSS capabilities of IE, these hacks are required **/

div#inset1 a {position:relative;} /* hyperlink clickable fix */

/* start IE transparent PNG hacks */

div#inset1,
div#inset2,
pre,
blockquote {
	height: 1%;
	background: none;
}

span.loginsubmit,
span.logoutsubmit {
	background: none;
}







